@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-container .svg2 {
    display: none; 
  }
  
  .icon-container:hover .svg1 {
    display: none;
  }
  
  .icon-container:hover .svg2 {
    display: block;
  }
  